In [97]:
import requests
import json
import pandas as pd


#Configuring URL to take iterable parameters

url = 'https://anapioficeandfire.com/api/characters/{}'

json_array=[]

for i in range(1, 16):
    response = requests.get(url.format(i))
    if response.status_code == 200:                     #Only Accepting 200 OK Response Code
        data_json = json.loads(response.text)           # Converting Sting Response to Dict-Json
        if data_json['name'] != "":
            json_array.append(data_json)                

df = pd.json_normalize(json_array)                      # lattening the JSON

#Dropping unecessary columns       
df.drop(columns=['url', 'povBooks', 'tvSeries'], inplace = True)


#Returns contents of Array as string

def unroll(x):
    for i in x:
        return ''. join(i)
    
# Returns Data from API   

def get_data(x):
    if x and x != "":
        resp = requests.get(x).text
        json_resp = json.loads(resp)
        return json_resp['name']

# Pullling out data wrapped in arrays

df['aliases']= df['aliases'].apply(unroll)
df['allegiances']= df['allegiances'].apply(unroll)
df['books']= df['books'].apply(unroll)
df['playedBy']= df['playedBy'].apply(unroll)
df['titles']= df['titles'].apply(unroll)

# Taking API URL from column fields and filling it with required values

df['father'] = df['father'].apply(get_data)
df['spouse'] = df['spouse'].apply(get_data)
df['books'] = df['books'].apply(get_data)
df['allegiances'] = df['allegiances'].apply(get_data)


df

,name,gender,culture,born,died,titles,aliases,father,mother,spouse,allegiances,books,playedBy
0,Walder,Male,,,,None,Hodor,None,,None,House Stark of Winterfell,A Game of Thrones,Kristian Nairn
1,Balon Greyjoy,Male,,,,Iron King,Balon the Brave,Quellon Greyjoy,,Alannys Harlaw,None,A Game of Thrones,Patrick Malahide
2,Chayle,Male,,,,Septon,None,None,,None,None,A Game of Thrones,None
3,Gillam,Male,,,,Brother,None,None,,None,None,A Feast for Crows,None
4,High Septon,Male,,,,High Septon,The High Sparrow,None,,None,None,A Feast for Crows,Jonathan Pryce